body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f1fff3, #d7f5e6);
  color: #333;
}

header {
  background: #3a6ea5;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 18px;
  padding: 8px 16px;
  border-radius: 8px;
  transition: 0.3s;
}

nav a:hover,
nav a.active {
  background: rgba(255,255,255,0.25);
}

.judul-spesies {
  text-align: center;
  padding: 35px 0 10px;
}

.judul-spesies h2 {
  font-size: 32px;
  color: #1d4e89;
}

.list-spesies {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding: 30px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 300px;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
}

.card h3 {
  font-size: 26px;
  color: #1d4e89;
}

.img-box img {
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
}

.detail-btn {
  margin-top: 15px;
  padding: 10px 22px;
  background: #1d4e89;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.detail-btn:hover {
  background: #163c6b;
}

.popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background: white;
  max-width: 500px;
  width: 80%;
  padding: 25px;
  border-radius: 15px;
  animation: zoom 0.3s;
}

.close {
  float: right;
  font-size: 28px;
  cursor: pointer;
}

/* FOTO GRID */
.foto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.foto-grid img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
}

.foto-grid img:hover {
  transform: scale(1.05);
}

@keyframes zoom {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

footer {
  background: #3a6ea5;
  color: white;
  text-align: center;
  padding: 12px;
  margin-top: 30px;
}
